@{
    ViewData["Title"] = "Opening Hours";
}
<h1>@ViewData["Title"]</h1>

<p>Hours: </p>

<p>Sun: 9am-9pm </p>

<p>Mon: 9am-9pm </p>

<p>Tues: Closed </p>

<p>Wed: 9am-9pm </p>

<p>Thurs: 9am-9pm </p>

<p>Fri: 7am-10pm </p>

<p>Sat: 7am-10pm </p>
